* {
  margin: 0;
  padding: 0;
}

.galeria{
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img-galeria{
  width: 300px;
}